*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    justify-content:space-between ;
    background-color: whitesmoke;
}
.topimg{
    height: 100px;
    width: 138px;
}
li{
    list-style-type: none;
    padding: 20px;
}
.ol{
    display: flex;
}
a{
    text-decoration: none;
}
#top2 {
    line-height: 50px;
    background-color: black;
    margin-top: 1%;
}
.p{
    color: whitesmoke;
}
p {
    text-align: center;
    font-size: xx-large;
}
#sandra{
    margin-left: 10%;
}